@import "tailwindcss";

@theme {
  --color-primary: #831843;
  --color-primary-light: #be123c;
  --color-accent: #d97706;
  --color-accent-light: #f59e0b;
  --color-background: #fffdfc;
  --color-surface: #ffffff;
  --color-foreground: #1c1917;
  --color-muted: #a8a29e;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-playfair);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

/* Custom premium scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
}
